/* General styles */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

/* Header styles */
header {
    background-color: mintgreen;
    padding: 1em;
}

nav ul {
    list-style-type: none;
    display: flex;
    justify-content: space-around;
}

nav ul li a {
    text-decoration: none;
    color: white;
    font-weight: bold;
}

/* Section styles */
section {
    display: none;
    padding: 2em;
}

section#about-me {
    display: block; /* Show About Me section by default */
}
